@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.herobutton {
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
  transition: all 1000ms;
  position: relative;
  overflow: hidden;
  outline: 1px solid #ea580c;
}

.herobutton:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #ea580c;
  box-shadow: 4px 5px 17px -4px #ea580c;
}

.herobutton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ea580c;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.herobutton:hover::before {
  width: 250%;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --background-secondary: 240 5.9% 10%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 22.5 90.2% 57.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --bggradient: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --calendar-border: hsl(240 3.7% 15.9% / 0.5);
    --calendar-time-color: hsl(240 5% 64.9%);
    --chart-1: 20.5 90.2% 48.2%;
    --chart-2: 20.58, 97.16%, 72.35%;
    --chart-3: 20.71, 97.67%, 83.14%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
